/* primary-text-color  #212121
secondary-text-color #757575
background-color #2196F3 #000000*/

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --bg-hover-logo: #2196F3
}

.site-heder {
    background-color: #FFFFFF;
}
/* LOGO */
.logo-web {
    color: var(--bg-hover-logo);
}
.logo-studio {
    color: #000000;
}

/* link-nav */
.link-nav {
    color: var(--primary-text-color);
}
.link-nav:hover,
.link-nav:focus {
    color: var(--bg-hover-logo);
}
/* link-auth */
.link-auth {
    color: var(--secondary-text-color);
}
.link-auth:hover,
.link-auth:focus {
    color: var(--bg-hover-logo);
}

/* Hyro */
.hyro {
    background-color: #2F303A;
}
.hyro-text {
    color: #FFFFFF;
}
.hyro-button {
    background-color: var(--bg-hover-logo);
    color: #FFFFFF;
    border: none;
  
}
/* about company */

.title-section {
    color: var(--primary-text-color);
}
.text-section {
    color: var(--secondary-text-color);
}
/* work */
.work {
    color: var(--primary-text-color);
}
/* Team */
.team {
    background-color: #F5F4FA;
}
.title-team {
    color: var(--primary-text-color);
}
.text-team {
    color: var(--secondary-text-color);
}
/* footer */
.site-footer {
    background-color: #2F303A;
}
.footer-studio {
    color: #FFFFFF;
}
.footer-address {
    color: #FFFFFF;
}
.footer-data {
    color: rgba(255, 255, 255, 0.6);
}

/* section button */
.btn {background-color: rgba(245, 244, 250, 1);
color: var(--primary-text-color);
border: none;}

.btn:hover,
.btn:focus {
    background-color: var(--bg-hover-logo);
    color: rgba(255, 255, 255, 1);
}


/* section portfolio */
.title-portfolio {
    color: var(--primary-text-color);
}
.page-portfolio {
    color: var(--secondary-text-color);
}